*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main{
    background-image: radial-gradient(red,blue);
    width: 100%;
    height: 100vh;
}
.table{
    width: 1000px;
    height: 540px;
    border: 1px solid black;
    background-color: rgb(34, 211, 113);
    color: white;
    font-weight: 100;
}

thead{
    width: 1000px;
    height: 120px;
    background-color:rgb(34, 211, 113);
    font-weight: 100;
}
tbody{
    width: 100%;
    height: 420px;
    border: 2px solid black;
    background-color:rgb(34, 211, 113) ;
    font-weight: 100;
    padding-left: 50px;
}
